In [28]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from sklearn.tree import DecisionTreeClassifier
from sklearn.preprocessing import LabelEncoder
from sklearn.ensemble import RandomForestClassifier

In [2]:
X = pd.read_csv("./Diabetes_XTrain.csv")#.values
Y = pd.read_csv("./Diabetes_YTrain.csv")#.values
x = pd.read_csv("./Diabetes_Xtest.csv").values

In [3]:
X.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,7,168,88,42,321,38.2,0.787,40
1,8,110,76,0,0,27.8,0.237,58
2,7,147,76,0,0,39.4,0.257,43
3,2,100,66,20,90,32.9,0.867,28
4,4,129,86,20,270,35.1,0.231,23

In [4]:
X.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
count,576.000000,576.000000,576.000000,576.000000,576.000000,576.000000,576.000000,576.000000
mean,3.758681,119.975694,68.826389,20.364583,76.166667,31.857292,0.481519,32.954861
std,3.328783,31.512914,20.285812,15.893856,109.193550,8.134926,0.336910,11.878137
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,26.975000,0.247750,24.000000
50%,3.000000,116.000000,72.000000,22.000000,36.000000,32.000000,0.381500,29.000000
75%,6.000000,139.000000,80.000000,32.000000,120.000000,36.725000,0.641250,40.000000
max,17.000000,199.000000,122.000000,63.000000,744.000000,67.100000,2.420000,81.000000

In [5]:
Y.head()

   Outcome
0        1
1        0
2        1
3        1
4        0

In [6]:
le = LabelEncoder()

Y["Outcome"]= le.fit_transform(Y["Outcome"])

In [7]:
Y.head()

   Outcome
0        1
1        0
2        1
3        1
4        0

In [8]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 576 entries, 0 to 575
Data columns (total 8 columns):
Pregnancies                 576 non-null int64
Glucose                     576 non-null int64
BloodPressure               576 non-null int64
SkinThickness               576 non-null int64
Insulin                     576 non-null int64
BMI                         576 non-null float64
DiabetesPedigreeFunction    576 non-null float64
Age                         576 non-null int64
dtypes: float64(2), int64(6)
memory usage: 36.1 KB

In [9]:
print(X.shape, Y.shape, x.shape)

(576, 8) (576, 1) (192, 8)

In [10]:
skdt = DecisionTreeClassifier(criterion='entropy')

In [11]:
skdt.fit(X,Y)

DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [12]:
y=skdt.predict(x)

In [13]:
print(y)

[1 0 0 0 0 1 0 0 0 1 1 0 1 0 0 0 0 1 0 1 0 0 0 1 0 0 0 1 0 0 1 0 0 0 1 0 1
 1 0 0 1 0 0 0 1 0 0 1 0 1 1 1 0 1 0 0 1 1 0 1 1 0 0 0 1 0 0 1 0 1 0 0 0 0
 0 0 0 0 0 0 0 0 1 0 0 0 1 0 0 0 1 0 1 0 1 0 0 1 0 0 1 1 0 0 1 0 1 1 0 1 1
 0 1 0 0 1 0 1 0 1 1 0 0 1 1 1 1 1 1 0 0 1 0 0 0 0 1 1 1 1 0 1 1 0 1 0 0 1
 1 1 0 1 1 1 1 1 0 1 0 1 1 0 0 1 0 0 0 0 0 1 0 1 1 1 0 0 0 0 0 1 0 0 1 0 1
 1 0 0 1 1 0 0]

In [14]:
skdt.score(X,Y)

1.0

##Random forests

In [72]:
rf = RandomForestClassifier(criterion='entropy',n_estimators=1000)

In [73]:
rf.fit(X,Y)

/home/ubuntu/Documents/venv/lib/python3.6/site-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='entropy',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=1000, n_jobs=None,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [74]:
rf.score(X,Y)

1.0

In [75]:
y=rf.predict(x)

In [76]:
y = y.reshape([-1,1])
print(y.shape)

(192, 1)

In [77]:
import csv

In [71]:
with open('Sample_Submission.csv', 'w') as csvFile:
    writer = csv.writer(csvFile)
    m = y.shape[0]
    writer.writerow(['Outcome'])
    for i in range(m):
        l = y[i]
        writer.writerow(l)
    csvFile.close()