### Tuples

In [3]:
t = (1,2,3,"3df",'f')
print(t)
print(t[0])

(1, 2, 3, '3df', 'f')
1

In [5]:
l = list(t)
print(l)

[1, 2, 3, '3df', 'f']

In [11]:
t2  = tuple(l)
print(t2)

(1, 2, 3, '3df', 'f')

In [7]:
t1 = (1,2,3,4)
t3 = t +t1
print(t3)

(1, 2, 3, '3df', 'f', 1, 2, 3, 4)

In [9]:
t4 = t1*3
print(t4)

(1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)

In [15]:
t = (2,3,4,5,5)
print(max(t))
print(min(t))

5
2

In [18]:
del t

NameError: name 't' is not defined

### set

In [21]:
s = {2,3,4,5,5,5,5,5,6,7,8,1,1,1,1,1,}
print(s)

{1, 2, 3, 4, 5, 6, 7, 8}

In [23]:
s = set([1,2,3,4,4,5,6])
print(s)

{1, 2, 3, 4, 5, 6}

In [28]:
s.add(2)
print(s)

{1, 2, 3, 4, 5, 6}

In [32]:
s1= {1,2,3}
s2 ={2,4,5}
s1.union(s2)

{1, 2, 3, 4, 5}

In [39]:
s1 &s2
s1 | s2
s1.intersection(s2)
s1-s2
s1.difference(s2)
s1.clear()

In [42]:
if 4 in s:
    print("true")

true

In [43]:
s1^s2

{2, 4, 5}